<launch>
  <arg name="start_gmapping" default="true"/>
  <arg name="map_prefix" default="/tmp/warehouse_lab_map"/>
  <arg name="wait_timeout" default="10.0"/>
  <arg name="scan_topic" default="/scan"/>
  <arg name="base_frame" default="base_footprint"/>
  <arg name="odom_frame" default="odom"/>
  <arg name="map_frame" default="map"/>
  <arg name="rviz" default="false"/>
  <arg name="rvizconfig" default="$(find wpb_home_tutorials)/rviz/slam.rviz"/>

  <rosparam file="$(find warehouse_tuning)/config/lab_tuning.yaml" command="load"/>

  <node if="$(arg start_gmapping)" pkg="gmapping" type="slam_gmapping"
        name="slam_gmapping" output="screen">
    <remap from="scan" to="$(arg scan_topic)"/>
    <param name="base_frame" value="$(arg base_frame)"/>
    <param name="odom_frame" value="$(arg odom_frame)"/>
    <param name="map_frame" value="$(arg map_frame)"/>
    <param name="map_update_interval" value="1.0"/>
    <param name="maxUrange" value="5.5"/>
    <param name="linearUpdate" value="0.10"/>
    <param name="angularUpdate" value="0.10"/>
    <param name="temporalUpdate" value="1.0"/>
  </node>

  <node pkg="warehouse_tuning" type="mapping_session_node.py" name="mapping_session" output="screen">
    <param name="map_topic" value="/map"/>
    <param name="map_prefix" value="$(arg map_prefix)"/>
    <param name="wait_timeout" value="$(arg wait_timeout)"/>
  </node>

  <node if="$(arg rviz)" name="mapping_rviz" pkg="rviz" type="rviz"
        args="-d $(arg rvizconfig)"/>
</launch>
